$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
td{
  text-align: left;
}
.back {
  background-image: url("../images/back.jpg");
  width: 100%;
  height: 1000px;
  margin-top: -20px;
  padding-top: 10%;
}
.p {
  color: white;
}
.secondback {
  background-image: url('../images/liu.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
  width:400px;
  position: relative;
  left: 445px;
  padding-top: 90px;
  float: left;
}

.backleft {
  width: 430px;
  height: 350px;
  background-size: cover;
  background-image: url("../images/left.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 99999;
  margin-left: 100px;
  margin-top: 118px;
}

.backright {
  width: 430px;
  height: 350px;
  background-size: cover;
  background-image: url("../images/right.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 99999;
  left: 760px;
  margin-top: 118px;
}
.viewback{
  background-image: url("../images/viewback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1094px;
}
.detail{
  color: white;
  font-size: 120%;
}
