<!doctype html><html class="no-js" lang="" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1"><title>详细记录</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><!-- Place favicon.ico in the root directory --><link rel="stylesheet" href="styles/vendor.css"><link rel="stylesheet" href="styles/main.css"><script src="scripts/vendor/modernizr.js"></script></head><body><!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]--><div class="container viewback"><div align="center"><h1 class="p">详细记录</h1></div><div class="viewback"><img src="" alt=""><p class="detail" th:text="${detail}">详情</p></div><script>var t = document.getElementById("tbody");
    var rows = t.rows;
    for (var i = 0; i < rows.length; i++) {
      var cell = rows[i].cells[4];
      if (cell.innerHTML == 0) {
        cell.innerHTML = "未找到主人";
      } else {
        cell.innerHTML = "已找到主人";
      }
    }</script></div><div class="footer" align="center"><footer class="footer"><p align="center">&copy; upcyiban<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cspan id='cnzz_stat_icon_1259236200'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1259236200' type='text/javascript'%3E%3C/script%3E"));</script></p></footer></div><script src="scripts/vendor.js"></script><script src="scripts/plugins.js"></script><script src="scripts/main.js"></script></body></html>