<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="/official" method="post">
    标题:<input type="text" name="title"/><br/>
    详情:<textarea name="detail"></textarea><br/>
    <input type="submit" value="提交"/>
</form>
<table>
    <thead>
        <th>id</th>
        <th>标题</th>
        <th>详细信息</th>
        <th>删除</th>
    </thead>
    <tbody>
        <tr th:each="list:${lists}">
            <td th:text="${list.id}">id</td>
            <td th:text="${list.title}">title</td>
            <td th:text="${list.detail}">title</td>
            <td><a href="#" th:href="@{/delet(id=${list.id})}">删除</a></td>
        </tr>
    </tbody>

</table>
</body>
</html>